<h1> Products! </h1> 
<a href="/products?sort=name&sort_order=asc">Sort by Name Ascending</a>
<br>
<a href="/products?sort=name&sort_order=desc">Sort by Name Descending</a>
<br>
<a href="/products?sort=price&sort_order=asc">Sort by Price Low to High</a>
<br>
<a href="/products?sort=price&sort_order=desc">Sort by Price High to Low</a>
<br>
<a href="/products?size=large">Sort by Weight, Extra Large Dogs</a>
<br>
<br>



<%= form_tag "/search", method: :post do %>
  Search: <input type="text" name="search_term">
  <input type="submit" value="Search!">
<% end %>

<br>
<br>


	<% @products.each_slice(3) do |three_products| %>
	<div class="row">
		<% three_products.each do |product| %>
			<div class="col-md-4">
				<div class="well">
		 			<div>
						<h2><a href= "http://localhost:3000/products/<%=product.id%>"> <%= product.name %> </a></h2>
						<img class="index_product_image" src="<%= product.image %>">
						<br>
					</div>
				</div>
			</div>	
		<% end %>	
	</div>
	<br>
	<br>
<% end %>
