<h1> New Pet </h1>
<%= form_tag "/products", method: :post do %>
<br>
	Breed: <input type="text" name="product_name">
<br>	
	Price: <input type="text" name="product_price">
<br>	
	Description: <input type="text" name="product_description">
<br>
	Image: <input type="text" name="product_image">
<br>
<input type="submit" value="create_product">
<% end %>