<h1> New Product </h1>
<%= form_tag "/new_product", method: :post do %>
<br>
	Name: <input type="text" name="product_name">
<br>	
	Price: <input type="text" name="product_price">
<br>	
	Description: <input type="text" name="product_description">
<br>
<input type="submit" value="create_product">
<% end %>