// Place all the styles related to the products-controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.images {
	height: 300px; 
	}

body {
	font-family:Papyrun, Arial;
	background-image: url('congruent_pentagon.png');
}
.index_product_image {
	width: 120px;
}