// Place all the styles related to the products-controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.images {
	height: 300px; 
	}

body {
	font-family:Papyrun, Arial;
	background-image: url('congruent_pentagon.png');
}
.product_image {
	width: 220px;
}
.show_images {
	width: 300px;
}

.links {
	padding: 100px;
}

#welcome {
	align-right: 100px;
	border: 3px solid green;
	border-radius: 10px;
	float: left;
}

.petstore {
	float: right;
	border: 3px solid green;
	border-radius: 10px;
	}
.active {
	width: 50 px;
}